
.rowmestre{
    height: fit-content;
}

.first3{
    background-color: #1D2020;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    padding: 20px;
    color: white;
    flex: 1
    
}

.Qmestres{
    margin-right: 5%;
    margin-left: 5%;
}