.nav{
    margin-top: 70px;
}

.rowCustom{
    margin-top: 70px;
}

.first1{
    background-color: #80cccc;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    height: 500px;
}

.second1{
    flex: 1;
    text-align: center;
    align-items: center;
    display: flex;
}

.WorkingDude{

    width: 500px;
    margin: auto;
}

.center1{
    margin: auto;
}

.nav-link{
    text-decoration: none;
    color: black;
}

.nav-link:hover{
    border-bottom: 2px solid #80cccc;
    color: black;
}