@media (max-width: 1200px)
{
    .mobile{
        display: block!important;
    }

    .desktop{
        display: none!important;
    }
}

@media (min-width: 1201px)
{
    .mobile{
        display: none!important;
    }

    .desktop{
        display: block!important;
    }
}




@font-face {
font-family: 'Circular-Bold';
src: url('../Circular/CircularStd-Black.otf');

font-weight: normal;
font-style: normal;
}

@font-face {
    font-family: 'Circular-Light';
    src: url('../Circular/CircularStd-Medium.otf');
    
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Circular-Bold';
}

p{
    font-family: 'Circular-Light';
}

#root{
    overflow-y:visible;
}

.row{
    margin-top: 70px;
}

body{
    overflow-x:hidden;
}