.first7{


}

.rowfather{
    display: flex;
    align-items: center;
    height: 300px;
    width: 100%;
}


.link{
    height: 300px;
    background-color: #1D2020;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    color: white;
}


.second7{
    background-color: #80cccc;
    height: 700px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.equipe{
    height: fit-content;
    width: fit-content;
    margin-right: 40px;
    margin-left: 40px;
    border: white 3px solid;
    border-radius: 50px;
}