#carouselExampleIndicators {
  background-color: #080404;
  padding-top: 100px;
  padding-bottom: 100px;
  
}

.wrapper3 {
  margin-left: -100px;
  margin-right: -100px;
}

.color1 {
  background-color: #FF50F6;
  width: 50px;
  height: 20px;
  border-radius: 5px;
}

.color2 {
  background-color: #7BBFBF;
  width: 50px;
  height: 20px;
  border-radius: 5px;
}

.card-text {
  font-size: 20px;
}

.card-title {
  font-size: 30px;
}

.gradbar1{
  background: #F45C74;
  background: -moz-linear-gradient(top, #F45C74 0%, #5804FC 100%);
  background: -webkit-linear-gradient(top, #F45C74 0%, #5804FC 100%);
  background: linear-gradient(to bottom, #F45C74 0%, #5804FC 100%);
  border-radius: 15px;
  height: 110px;
  margin-top: 250px;
}

.gradbar2{
  background: #fcd464;
  background: -moz-linear-gradient(top, #fcd464 0%, #5804FC 100%);
  background: -webkit-linear-gradient(top, #fcd464 0%, #5804FC 100%);
  background: linear-gradient(to bottom, #fcd464 0%, #5804FC 100%);
  border-radius: 15px;
  margin-top: 170px;
}

.gradbar3{
  background: #acf26e;
  background: -moz-linear-gradient(top, #acf26e 0%, #5804FC 100%);
  background: -webkit-linear-gradient(top, #acf26e 0%, #5804FC 100%);
  background: linear-gradient(to bottom, #acf26e 0%, #5804FC 100%);
  border-radius: 15px;
  margin-top: 80px;
}

.gradbar4{
  background: #68F494;
  background: -moz-linear-gradient(top, #68F494 0%, #5804FC 100%);
  background: -webkit-linear-gradient(top, #68F494 0%, #5804FC 100%);
  background: linear-gradient(to bottom, #68F494 0%, #5804FC 100%);
  border-radius: 15px;
}

td{
  height: 340px;
  font-size: 18px;
}

.color3 {
  background-color: #7BBFBF;
  width: 50px;
  height: 20px;
  border-radius: 5px;
}

.btn{
  color: white;
}

.cardcustom2 {
  margin: auto; 
  width: 500px;
  height: 500px;
  border-radius: 20px;
  background-color: #303636;
  color: white;
  -webkit-box-shadow: 50px 200px 10px -30px #8C3078, 45px 0px 0px 0px #300484; 
  box-shadow: 50px 200px 10px -30px #8C3078, 45px 0px 0px 0px #300484;
}

.dollar{
  margin: auto;
  zoom: 90%;
}

.numeracoes{
  font-size: 22px;
}

.cellphone{
  margin-top: -30px;
  width: 200px;
}

.flexgrow1{
  display: flex;
}

.flexgrow1 > div{
  flex: 1;
}

.filtrepal{
  margin-right: -50px;
  margin-top: 15%;
  padding: 10px;
  font-size: 20px;
}

.cardcustom3 {
  margin: auto;
  width: 500px;
  height: 500px;
  border-radius: 20px;
  background-color: #180424;
  color: white;
  -webkit-box-shadow: -45px 0px 0px 0px #300484; 
  box-shadow: -45px 0px 0px 0px #300484;
}

.cardcustom1 {
  margin: auto;
  width: 500px;
  height: 500px;
  border-radius: 20px;
  background-color: #5804fc;
  color: white;
}

.botao {
  text-align: center;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
}

.btn-custom {
  width: 400px;
  border: #80cccc 2px solid;
  border-radius: 10px;
  font-family: 'Circular-Light';
}

.diferencialgradient{
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 20px;
  margin-inline: 200px;
  padding: 50px;
  color: white;
  background: linear-gradient(238.2deg, #713FFF 0%, rgba(255, 63, 63, 0.84) 105.83%);
  border-radius: 50px;
}

